:root {
    --bg-color: #7e00ff;
    --color-blanco: #fff;
}
body{
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-size: 1rem;
    color: var(--color-blanco);
  }
  a{
    color: var(--color-blanco);
  }
  h1{
    font-size: 1.25rem;
  }
  h2{
    font-size: 1.30rem;
  }
  .logo-text{
    max-width: 60%;
  }
  .btn-rrss{
    border: 1px solid var(--color-blanco);
    border-radius: 25px;
    padding: 0px 10px 0 0;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
  }
  .btn-rrss-icon{
    padding: 5px;
    border-right: 1px solid white;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    font-size: 1.563rem;
  }
  .svg-inline--fa{
    font-size: 1.563rem;
  }